__pycache__
.idea/
~*
*.pyc
airflow/.bash_history
airflow/.python_history
airflow/.odbc.ini
docker-compose-local.yml
adminer/*
airflow/airflow*
airflow/dags/test_dag.py
airflow/dags/test_dag.sql
airflow/.cache/
airflow/.ipython/
airflow/.local/
airflow/logs
airflow/dags/billing/notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/
airflow/tinkoff.cfg
